body{
    background-image: url("../image/backg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.image{
    position: absolute;
    justify-content: center;
}

.image2{
    position: absolute;
    justify-content: center;
}

.image3{
    position: absolute;
    justify-content: center;
}

h1{
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
.member {
    display: flex;
    position: relative;
    top: 250px;
    justify-content: center;
  }
  
  .member > div {
    background-color: rgb(163, 223, 241);
    border-radius: 25px;
    width: 400px;
    margin: 50px;
    padding-left: 10px;
    height: 350px;
    font-size: 25px;
  }